{% load i18n %}

<table class="table">
    <thead>
    <th>#</th>
    <th>Автор</th>
    <th>Дата</th>
    <th>Текст</th>
    </thead>
    {% for comm in comments %}
        <tbody>
        <tr>
            <td>{{ comm.id }}</td>
            <td>{% if comm.author %}{{ comm.author.username }}{% else %}<i>system</i>{% endif %}</td>
            <td>{{ comm.ctime }}</td>
            <td>
            {% if comm.system %}
                <i>{% trans comm.comment %} </i>
            {% else %}
                <pre>{{ comm.comment }}</pre>
            {% endif %}
            {% if comm.ticket %}
                <a href="https://newrt.domain/Ticket/Display.html?id={{ comm.ticket }}">Тикет</a>
            {% endif %}
            </td>
        </tr>
        </tbody>
    {% endfor %}
</table>