<div>
<table class="table">
        <tr>
            <th>#</th>
            <th>Хост</th>
            {% if not user_files %}
            <th>Пользователь</th>
            {% endif %}
            <th>Файл</th>
            <th>Вирус</th>
            <th>Карантин</th>
            <th>Игнорирование</th>
            <th>Удаление</th>
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% if not user_files %}
            <th></th>
            {% endif %}
            <th></th>
            <th></th>
            <th>
                <input
                        data-off-text="Выкл"
                        data-on-text="Вкл"
                        data-size="mini"
                        data-label-text="&nbsp;"
                        name="quarantine-file-switch-all"
                        type="checkbox"
                >
            </th>
            <th>
                <input
                        data-off-text="Выкл"
                        data-on-text="Вкл"
                        data-size="mini"
                        data-label-text="&nbsp;"
                        name="ignoring-file-switch-all"
                        type="checkbox"
                >
            </th>
            <th>
                <input
                        data-off-text="Нет"
                        data-on-text="Да"
                        data-size="mini"
                        data-label-text="&nbsp;"
                        name="delete-file-switch-all"
                        type="checkbox"
                >
            </th>
        </tr>
    {% for file in lines %}
        <tr>
            <td>{{ file.id }}</td>
            <td>{{ file.user.host.hostname }}</td>
            {% if not user_files %}
            <td><a href="{% url 'user' file.user.id %}">{{ file.user.username }}</a></td>
            {% endif %}
            <td>
                <a
                    href="{% url 'file' file.id %}"
                    data-toggle="tooltip"
                    data-container="body"
                    data-placement="top"
                    data-html="true"
                    title="{{ file.filename }}"
                >{% if not user_files %}{{ file.filename|truncatechars:30 }}{% else %}{{ file.filename }}{% endif %}</a>
            </td>
            <td><a href="{% url 'virus' file.virus.id %}">{{ file.virus.virusname }}</a></td>
            <td>{% include 'elements/file_quarantine_switch.html' %}</td>
            <td>{% include 'elements/file_ignoring_switch.html' %}</td>
            <td>{% include 'elements/file_delete_switch.html' %}</td>
        </tr>
    {% endfor %}
</table>
<div align="right">
    <button
            name="apply-file-button"
            class="btn btn-success"
            data-url="{% url 'action' 'file' %}"
    >Применить</button>
    <button
            name="cancel-file-button"
            class="btn btn-danger"
    >Отмена</button>
</div>
</div>