<form role="form" class="form-horizontal" method="get">
    <div class="form-group">
        <label class="col-md-2 control-label" for="id_filter">Фильтр</label>
        <div class="col-md-5">
            <input class="form-control" id="id_filter" maxlength="128" name="filter" title="" {% if fltr %}value="{{ fltr }}"{% endif %} type="text" />
        </div>
        <div class="col-md-2">
            <input
                    name="fltr_all"
                    class="form-control"
                    type="checkbox"
                    data-off-text="Не все"
                    data-on-text="Все"
                    data-size="normal"
                    data-label-text="&nbsp;"
                    {% if fltr_all %}checked="checked"{% endif %}
            >
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" type="submit">Поиск</button>
        </div>
    </div>
</form>