<table class="table">
        <tr>
            <th>#</th>
            <th>Хост</th>
            <th>Пользователь</th>
            <th>Действия</th>
            {% if lines.0.files_count %}
            <th>Заражённых файлов</th>
            {% endif %}
        </tr>
    {% for vmuser in lines %}
        <tr>
            <td>{{ vmuser.id }}</td>
            <td>{{ vmuser.host.hostname }}</td>
            <td><a href="{% url 'user' vmuser.id %}">{{ vmuser.username }}</a></td>
            <td>{% include 'elements/user_fullscan_button.html' %}</td>
            {% if lines.0.files_count %}
            <td><a href="{% url 'files' %}?filter={{ vmuser.username }}">{{ vmuser.files_count }}</a></td>
            {% endif %}
        </tr>

    {% endfor %}
</table>