<table class="table">
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Игнорирование</th>
            {% if lines.0.files_count %}
            <th>Заражённых файлов</th>
            {% endif %}
        </tr>
    {% for virus in lines %}
        <tr>
            <td>{{ virus.id }}</td>
            <td><a href="{% url 'virus' virus.id %}">{{ virus.virusname }}</a></td>
            <td>
                <input
                        name="ignoring-virus-switch"
                        data-url="{% url 'api' 'virus' virus.id %}"
                        type="checkbox"
                        data-off-text="Выкл"
                        data-on-text="Вкл"
                        data-size="mini"
                        data-label-text="&nbsp;"
                        {% if virus.ignoring %}checked{% endif %}
                >
            </td>
            {% if virus.files_count %}
            <td><a href="{% url 'files' %}?filter={{ virus.virusname }}">{{ virus.files_count }}</a></td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

