<!DOCTYPE html>
{% load bootstrap3 %}
{% load tags %}
{% load staticfiles %}

<html{% if request.LANGUAGE_CODE %} lang="{{ request.LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% bootstrap_css %}
    {% if 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    {% block extra_head %}{% endblock %}
    <link href="{% static 'css/virusmanager.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-switch.min.css' %}" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main_nav">
            <span class="sr-only">Toggle navigation</span>
          </button>
        <a class="navbar-brand" href="/">
            <p>
            <span class='tip-on-hover'><img src="{% static 'img/biohazard.png'%}" style='margin-top: -13px'>
                <span class='tip'></span>
            </span>
            <span style="font-size:30px; font-weight:bold; color: darkblue">AGA<span style="color: green">V</span>A</span>
            </p>
        </a>
        </div>
        <div class="navbar-collapse collapse" id='main_nav'>
        {% url 'hosts' as hosts %}
        {% url 'users' as users %}
        {% url 'viruses' as viruses %}
        {% url 'files' as files %}
        <ul class="nav navbar-nav">
            <li class={% active request hosts %}><a href="{{ hosts }}">Хосты</a></li>
            <li class={% active request users %}><a href="{{ users }}">Пользователи</a></li>
            <li class={% active request viruses %}><a href="{{ viruses }}">Вирусы</a></li>
            <li class={% active request files %}><a href="{{ files }}">Файлы</a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
            {% if user.is_authenticated %}
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    Привет, <strong>{{ user.username }}</strong>!
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="{% url 'admin:index' %}">Панель администрирования</a></li>
                    <li><a href="{% url 'auth_prefs' %}">Настройки</a></li>
                    <li><a href="{% url 'help' %}">Справка</a></li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}">Выйти</a></li>
                    <li class="divider"></li>
                </ul>
            {% else %}
                <a href="{% url 'login' %}">Привет, гость!</a>
            {% endif %}
            </li>
        </ul>
        </div>

    {% bootstrap_messages %}
    </nav>

    <div class="container">
        {% block content %}(no content){% endblock %}
    </div>
    {% if not 'javascript_in_head'|bootstrap_setting %}{% bootstrap_javascript jquery=True %}{% endif %}
    <script src="{% static 'js/bootstrap-switch.min.js' %}"></script>
    <script type="application/javascript" src="{% static 'js/elements.js' %}"></script>
</body>
</html>
