{% extends 'base.html' %}

{% block title %}Файл{% endblock %}

{% block content %}
    <h3>Подробная информация о файле</h3>
    <table class="table table-responsive">
        <tbody>
        <tr>
            <td><b>Имя файла</b></td>
            <td>{{ file.filename }}</td>
        </tr>
        <tr>
            <td><b>Хост</b></td>
            <td><a href="{% url 'hosts' %}?filter={{ file.user.host.hostname }}">{{ file.user.host.hostname }}</a></td>
        </tr>
        <tr>
            <td><b>Пользователь</b></td>
            <td><a href="{% url 'user' file.user.id %}">{{ file.user.username }}</a></td>
        </tr>
        <tr>
            <td><b>Вирус</b></td>
            <td><a href="{% url 'virus' file.virus.id %}">{{ file.virus.virusname }}</a></td>
        </tr>
        <tr>
            <td><b>Карантин</b></td>
            <td>{% include 'elements/file_quarantine_switch.html' %}</td>
        </tr>
        <tr>
            <td><b>Игнорирование</b></td>
            <td>{% include 'elements/file_ignoring_switch.html' %}</td>
        </tr>
        <tr>
            <td><b>Удаление</b></td>
            <td>{% include 'elements/file_delete_button.html' %}</td>
        </tr>
        <tr>
            <td><b>Добавлен в базу</b></td>
            <td>{{ file.ctime }}</td>
        </tr>
        <tr>
            <td><b>Дата изменения</b></td>
            <td>{{ file.atime }}</td>
        </tr>
        <tr>
            <td><b>Удалён/излечен</b></td>
            <td>{{ file.etime }}</td>
        </tr>
        </tbody>
    </table>
    <h3>Комментарии</h3>
    {% include 'blocks/comment_form.html' %}
    {% include 'blocks/comments_tab.html' %}
{% endblock %}