{% extends 'base.html' %}

{% block title %}
    Справка
{% endblock %}

{% block content %}
    <h1>Virus manager</h1>
    <p>
        Система для поиска вирусов посредством антивируса Clamav, отображения найденных заражённых файлов и
        простых действий с этими файлами. Состоит из веб-приложения с интерфейсом и базой данных (собственно,
        virus-manager) и бэкэнда virus-scanner, который запускается на серверах с хостингом для клиентов и
        непосредственно выполняет действия с файлами.
    </p>
    <p>
        Новые найденные заражённые файлы показаны на <a href="{% url 'home' %}">Главной странице</a> в
        реверсивно-хронологическом порядке (самые новые выше). Файлы помещённые в карантин, помеченные как игнорируемые
        или удалённые в этом списке не показываются.
    </p>
    <h3>Действия с файлами</h3>
    <p>
        <b>Карантин</b> на самом деле представляет собой обычный chmod 000 на необходимый файл. Таким образом,
        только root сможет прочитать или запустить этот файл. Поэтому вирус никак не сможет причинить вред юзеру.<br>
        Оригинальные права на файл сохраняются в базе и при выключении карантина возвращаются файлу.
    </p>
    <p>
        <b>Игнорирование</b> выставляет флаг игнорирования в запись о файле в базе данных Virus-manager'а.
        Файл просто не будет показан в дашборде на <a href="{% url 'home' %}">главной странице</a>.
        Физически в файловой системе с файлом ничего при этом не делается.
        Аналогично, выключение игнорирования просто снимает этот флаг и файл снова будет показан в дашборде.
        Необходимо для случаев false-positive определений вирусов. Т.е. если файл ошибочно определён как заражённый
        вирусом.
    </p>
    <p>
        <b>Удаление</b> безвозвратно удаляет файл с файловой системы и добавляет соответствующий флаг в запись об
        этом файле в базу данных Virus-manager'а. Если файл по этому же пути и с таким же именем будет вновь создан
        и вновь заражён вирусом, то этот флаг в базе будет снят и файл вновь появится в дашборде.
    </p>
    <h3>Действия с пользователями</h3>
    <p>
        <b>Сканировать</b> - запускает полное сканирование домашней директории пользователя. Записывает в базу время
        начала сканирования. Время завершения сканирования будет записано асинхронно, когда бэкэнд завершит
        сканирование и вернёт результат. Найденные при сканировании заражённые файлы будут добавлены в базу штатным
        образом.
    </p>
    <h3>Действия с вирусами</h3>
    <p>
        <b>Игнорирование</b> выставляет флаг игнорирования в запись о вирусе в базе данных Virus-manager'а.
        Файлы заражённые этим вирусом нельзя будет удалить, заигнорить или закарантинить. Также они не будут показаны
        в дашборде.
        Выключение игнорирования для вируса отменит всё вышеперечисленное. Но не снимет флаг игнорирования или
        карантина, если он был выставлен для отдельного файла.
    </p>
    <br>
    <p>
        В <a href="{% url 'auth_prefs' %}">настройках</a> можно включить отображение формы для добавления в базу хостов,
        пользователей, вирусов и файлов вручную. И установить число одновременно отображаемых строк для страниц хостов,
        пользователей, вирусов и файлов.
    </p>
{% endblock %}