{% extends 'base.html' %}

{% block title %}Virus Manager{% endblock %}

{% block content %}
{% csrf_token %}
<strong></strong>
{#    <p>#}
{#        <a class="btn btn-info" href="/send">send</a>#}
{#    </p>#}
    {% with new_files as lines %}
        <h3>Новые заражённые файлы</h3>
        {% include 'blocks/files_tab.html' %}
    {% endwith %}
    <p>
        Всего заражённых файлов: {{ infected_files }};
        в карантине: {{ quarantined_files }};
        игнорированы: {{ ignored_files }}
    </p><br>

    {% with top_viruses as lines %}
        <h3>Топ вирусов</h3>
        {% include 'blocks/viruses_tab.html' %}
    {% endwith %}
    <p>
        Всего вирусов в базе: {{ all_viruses }};
        игнорируются: {{ ignored_viruses }}
    </p><br>
        {% with top_users as lines %}
        <h3>Топ пользователей</h3>
        {% include 'blocks/users_tab.html' %}
    {% endwith %}
    <p>Всего заражённых пользователей: {{ infected_users }}</p>
{% endblock %}
