{% extends 'base.html' %}

{% block title %}
    Хосты
{% endblock %}

{% block content %}
    {% include 'blocks/creation_form.html' %}
    {% include 'blocks/filter.html' %}

    <table class="table">
            <tr>
                <th>#</th>
                <th>Хост</th>
{#                <th>Сканирование</th>#}
            </tr>
        {% for host in lines %}
            <tr>
                <td>{{ host.id }}</td>
{#                <td><a href="{% url 'users' %}?filter={{ line.hostname }}">{{ line.hostname }}</a></td>#}
                <td>{{ host.hostname }}</td>
{#                <td>{% include 'elements/host_fullscan_button.html' %}</td>#}

            </tr>
        {% endfor %}
    </table>

    <hr>

    {% include 'elements/paginator.html' %}

{% endblock %}