{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block content %}
    <h3>Подробная информация о пользователе</h3>
    <table class="table table-responsive">
        <tbody>
        <tr>
            <td><b>Хост</b></td>
            <td>{{ vmuser.host.hostname }}</td>
        </tr>
        <tr>
            <td><b>Логин</b></td>
            <td>{{ vmuser.username }}</td>
        </tr>
        <tr>
            <td><b>Начало полной проверки</b></td>
            <td>{{ vmuser.check_started }}</td>
        </tr>
        <tr>
            <td><b>Завершение полной проверки</b></td>
            <td>{{ vmuser.check_finished }}</td>
        </tr>
        <tr>
            <td><b>Запустить полную проверку</b></td>
            <td>{% include 'elements/user_fullscan_button.html' %}</td>
        </tr>
        <tr>
            <td><b>Всего файлов (в т.ч. излеченных/удалённых)</b></td>
            <td>{{ vmuser.files.all.count }}</td>
        </tr>
        </tbody>
    </table>
    <h3>Файлы</h3>
    <div style="font-size: small">
        <a
                data-toggle="tooltip"
                data-container="body"
                data-html="true"
                title="Экспортируется список файлов, которые не находятся в карантине, не в игноре и не удалёны"
                href="{% url 'csv' 'file' %}?user={{ vmuser.id }}"
        >
            Экспорт в CSV
        </a>
    </div>
    {% with True as user_files %}
    {% with '' as fltr %}
    {% with '' as fltr_all %}
        {% include 'blocks/files_tab.html' %}
        {% include 'elements/paginator.html' %}
    {% endwith %}{% endwith %}{% endwith %}
    <h3>Комментарии</h3>
    {% include 'blocks/comment_form.html' %}
    {% include 'blocks/comments_tab.html' %}
{% endblock %}