{% extends 'base.html' %}

{% block title %}Пользователь{% endblock %}

{% block content %}
    <h3>Подробная информация о вирусе</h3>
    <table class="table table-responsive">
        <tbody>
        <tr>
            <td><b>Название</b></td>
            <td>{{ virus.virusname }}</td>
        </tr>
        <tr>
            <td><b>Игнорирование</b></td>
            <td>
                <input
                        name="ignoring-virus-switch"
                        data-url="{% url 'api' 'virus' virus.id %}"
                        type="checkbox"
                        data-off-text="Выкл"
                        data-on-text="Вкл"
                        data-size="mini"
                        data-label-text="&nbsp;"
                        {% if virus.ignoring %}checked{% endif %}
                >
            </td>
        </tr>
        </tbody>
    </table>
    <h3>Комментарии</h3>
    {% include 'blocks/comment_form.html' %}
    {% include 'blocks/comments_tab.html' %}

{% endblock %}